<h2>Book List:</h2>

<!--An example to how show and hide button-->
<!--<button (click)="isShowing = !isShowing">
  <ng-container *ngIf="!isShowing">Show Books</ng-container>
  <ng-container *ngIf="isShowing">Hide Books</ng-container>
</button>-->

<ul *ngIf="isShowing">
  <ng-container *ngFor="let singleBook of books">
    <app-book [book]="singleBook" (bookEmitter)="addToCard($event)"   ></app-book>
<!--    <li class="book">
      <img [src]="book.image" [alt]="book.name" width="100"/>
      <p class="title" >{{book.name | titlecase }} By {{book.author | titlecase}} </p>
      <p class="currency" > {{ book.amount | currency: 'EUR' }}</p>
      <button>Add To Card</button>
    </li>-->

  </ng-container>
</ul>
