<nav class="flex justify-between p-4 bg-purple-800 text-white">
  <div>
    <a routerLink="/">Book Shop</a>
  </div>

  <div>
    <a class="relative mx-4 hover:cursor-pointer" (click)="onCartClick()">
      <ng-container>
        Cart
        <i class="fa" style="font-size:24px">&#xf07a;</i>
        <span class="badge badge-warning" id="lblCartCount">{{ getCart().length }}</span>
      </ng-container>
    </a>

    <ng-container *ngIf="!isAuthenticated()">
      <a class="mx-4" routerLink="/login">Login</a>
      <a class="mx-4" routerLink="/register">Register</a>
    </ng-container>

    <ng-container *ngIf="isAuthenticated()">
      <button (click)="logout()" class="mx-4">Logout</button>
    </ng-container>
  </div>
</nav>

<div class="p-4  min-height: 100vh;  display: flex;  flex-direction: column;">
  <router-outlet></router-outlet>
</div>
